.App {
  text-align: center;
}

.input-div {
  height: 35px;
  width: auto;
  border-radius: 5px;
  border: 1px solid rgb(150, 150, 150);
  cursor: text;
  position: relative;
}
.chooseitem {
  display: inline-flex;
  justify-content: center;
  margin: 4px 3px;
  background-color: pink;
  font-size: 14px;
  padding: 5px 12px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.list {
  position: absolute;
  top: 35px;
  border-radius: 5px;
  border: 1px solid rgb(150, 150, 150);
  width: 100%;
  background-color: pink;
}
.x {
  margin-left: 5px;
}
.x:hover {
  color: red;
}
.clear {
  position: absolute;
  right: 0;
  margin: 5px 4px;
  color: gray;
  background-color:gainsboro;
  border-radius: 4px;
  border: 1px solid rgb(150, 150, 150);

}
